.container {
    margin: auto;
    padding: 2% 0 0;
    margin: auto;
    padding-top: 100px;
}

.card {
    min-width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
    overflow-y: auto !important;
  }
  
  .mat-table {
    max-height: 400px;
  }
  
  a {
    cursor: pointer;
  }

.table-header{
    font-weight: bold;
    font-size: 16px;
}

h3 {
    font-weight: bold;
}