<div class="student-form">
    <div style="text-align:center">
        <h1>學生面板</h1>
    </div>
    <hr/>
    <div class="student-button-div">
        <div id="btn-vid" class="browse-exam-button">
            <button mat-icon-button (click)="openBrowseVideoPage()">
                 <mat-icon>video_library</mat-icon>
            </button>  
             
        </div>
        <div id="btn-exm" class="browse-exam-button">
            <button mat-icon-button (click)="openExamPage()">
                <mat-icon>list_alt</mat-icon>
            </button>
        </div>
        <label for="btn-vid">瀏覽/搜尋 影片</label>
        <label for="btn-exm">線上測驗</label>
        
    </div>
</div>